/* Asegurar que todas las tarjetas tengan la misma altura */
.featureColumn {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.featureCard {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.featureContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.featureDescription {
  flex: 1;
}

